html, body, .site-wrap {
  margin: 0;
  height:100%;
  width:100%;
  padding:0;
  background-color: #333333;
  scroll-behavior: smooth;
}

/* Nav Section */

#nav-section {
  position: fixed;
  display: block;
  overflow: hidden;
  background-color: #333333;
  width: 100%;
  padding: 20px 0px;
  transition: 0.5s;
}

#nav-section a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

#nav-section a:hover {
  background-color: #ddd;
  color: black;
  transition: 0.5s;
}

.nav-left {
  margin-left: 50px;
}

.nav-right {
  margin-right: 50px;
  float: right;
}

/* Front Section */

#front-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: black;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-image: url("../assets/img/front.jpg");
}

.front-text-box{
  background-color: blueviolet;
}

.title{
  display: block;
}

.typed-wrapper{
  font-size: 3rem;
  font-weight: bolder;
}

.typed-text{
  font-size: 2rem;
  font-weight: normal;
}

/* About Section */

#about-section {
  padding: 50px 0px;
  display: block;
  background-color: #DDDDDD;
  text-align: center;
  width: 100%;
}

.about-column {
  display: inline-block;
  width: 30%;
  background-color: blue;
  vertical-align:middle;
}

.about-picture {
  width: 50%;
  border-radius: 25%;
  border-style: solid;
}

/* Project Section */

#project-section {
  padding: 50px 0px;
  display: block;
  background-color: #555555;
  text-align: center;
  width: 100%;
}

.project-row{
  width: 100%;
}

.project-column {
  display: inline-block;
  width: 20%;
  background-color: red;
  margin: 10px;
  padding: 10px;
}

.project-text-box{
  background-color: white;
}

/* Work Section */

#work-section{
  padding: 50px 0px;
  display: block;
  background-color: #DDDDDD;
  width: 80%;
  padding-left: 20%;
}

.work-row{
  width: 50%;
  background-color: lightpink;
  margin-bottom: 10px;
}

.work-title{
  display: inline-block;
  background-color: lightseagreen;
}

.work-date{
  float: right;
  background-color: lightskyblue;
}

.work-desc{
  margin: 10px 0px;
}

/* Education Section */

#education-section{
  padding: 50px 0px;
  display: block;
  background-color: #999999;
  width: 80%;
  padding-right: 20%;
  text-align: right;
  overflow: auto;
}

.edu-row{
  width: 50%;
  background-color: lightpink;
  margin-bottom: 10px;
  float: right;
  display: block;
  clear: both;
}

.edu-title{
  display: block;
  background-color: lightseagreen;
  float: left;
  clear: both;
}

.edu-date{
  float: right;
  background-color: lightskyblue;
}

.edu-desc{
  display: block;
  background-color: blueviolet;
  float: left;
  clear: both;
  margin-top: 10px;
}

/* Skills Section */

#skill-section{
  padding: 50px 0px;
  display: block;
  background-color: #555555;
  text-align: center;
  width: 100%;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 75%;
  border: none;
  text-align: left;
  outline: none;
  margin-top: 20px;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  max-height: 0px;
  width: 60%;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
  margin: auto;
}

/* Interests Section */

#interest-section{
  padding: 50px 0px;
  display: block;
  background-color: #DDDDDD;
  text-align: center;
  width: 100%;
}

.int-row{
  vertical-align: middle;
  background-color: blue;
  margin: -2px 0px;
}

.int-column{
  display: inline-block;
  background-color: lime;
  border-style: solid;
  width: 20%;
  padding: 50px 0px;
  margin: 0px -4px;
}

.int-text-box{
  background-color: blueviolet;
  padding: 10px 0px;
  margin: 0px;
}

/* Awards Section */

#award-section{
  padding: 50px 0px;
  display: block;
  background-color: #555555;
  text-align: center;
  width: 100%;
}

.award-row{
  width: 65%;
  background-color: green;
  display: inline-block;
  padding: 20px 0px;
  border-style: solid;
  margin-top: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-image: url("../assets/img/front.jpg");
}

.award-text-box{
  width: 50%;
  padding: 10px 0px;
  background-color: cadetblue;
  display: inline-block;
}

/* Contact Section */

#contact-section{
  padding: 50px 0px;
  display: block;
  background-color: #DDDDDD;
  text-align: center;
  width: 100%;
}

/* Footer Section*/

#footer-section{
  padding: 20px 0px;
  display: block;
  background-color: #555555;
  text-align: center;
  width: 100%;
}

/* Temp Section */

